# Training Machine Learning Models


## Underfitting and Overfitting

**Underfitting** is when an algorithm trained to predict a value does so poorly both in the training data and on future, unseen data.

Reconsider the *Titanic* dataset example below:

In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
titanic = pd.read_csv("titanic.csv")
titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
titanic.Survived.value_counts()

0    545
1    342
Name: Survived, dtype: int64

In [4]:
# Predict most common value
if titanic.Survived.value_counts()[0] > titanic.Survived.value_counts()[1]:
    guess = 0
else:
    guess = 1

predicted = pd.Series([guess] * len(titanic))
(titanic.Survived - predicted).abs().sum()    # Error count (trivial here)

342

In [5]:
(titanic.Survived - predicted).abs().mean()     # Error rate

0.3855693348365276

In [6]:
1 - (titanic.Survived - predicted).abs().mean()     # Correct prediction rate

0.6144306651634723

This algorithm is underfitting as much as it possibly can. It may in fact be a worst-case-scenario for underfitting.

**Overfitting** occurs when an algorithm predicts training data well but does not generalize to new data; on new data, the algorithm's error rate increases unacceptably.

Underfitting is obvious when training a system, but overfitting requires more care to detect, since unseen data is not seen (obviously). There are techniques, though, for simulating unseen data.

## Training / Testing Split

The first technique is to split data into a training dataset and a testing dataset. We use the training data for developing our algorithm. We then see how well the algorithm generalizes by applying the trained algorithm to the test data and quantifying the error rate.

`train_test_split()`, from scikit-learn (**sklearn**), makes splitting data easy.

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
titanic_train, titanic_test = train_test_split(titanic,          # Dataset to split (array-like)
                                               test_size=0.1)    # How large test set should be; in this case, 10% of
                                                                 # the whole (could also be an integer for fixed size)

In [9]:
titanic_train

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
517,1,1,Miss. Anne Perreault,female,30.00,0,0,93.5000
66,0,3,Mr. Ernest James Crease,male,19.00,0,0,8.1583
821,0,3,Mr. John Flynn,male,36.00,0,0,6.9500
200,0,3,Mr. Frederick Sage,male,17.00,8,2,69.5500
153,0,3,Mr. Ole Martin Olsen,male,27.00,0,0,7.3125
238,0,2,Mr. George Henry Hunt,male,33.00,0,0,12.2750
227,0,2,Mr. Arne Jonas Fahlstrom,male,18.00,0,0,13.0000
732,0,3,Mrs. Edward (Margaret Ann Watson) Ford,female,48.00,1,3,34.3750
823,1,2,Master. Andre Mallet,male,1.00,0,2,37.0042
746,1,2,Miss. Joan Wells,female,4.00,1,1,23.0000
221,0,3,Mr. George Henry Green,male,51.00,0,0,8.0500
489,0,1,Mr. Harry Markland Molson,male,55.00,0,0,30.5000
607,0,3,Mrs. Anders Johan (Alfrida Konstantia Brogren)...,female,39.00,1,5,31.2750
94,0,3,Mr. Charles Joseph Shorney,male,22.00,0,0,8.0500
800,1,3,Mr. Oskar Arvid Hedman,male,27.00,0,0,6.9750
209,0,3,Mr. Ahmed Ali,male,24.00,0,0,7.0500
479,0,3,Mr. Richard Henry Rouse,male,50.00,0,0,8.0500
759,1,1,Mrs. William Ernest (Lucile Polk) Carter,female,36.00,1,2,120.0000
777,1,1,Mrs. Albert Adrian (Vera Gillespie) Dick,female,17.00,1,0,57.0000
747,1,3,Master. Meier Moor,male,6.00,0,1,12.4750
491,0,3,Mr. Edward Roland Stanley,male,21.00,0,0,8.0500
20,0,2,Mr. Joseph J Fynney,male,35.00,0,0,26.0000
447,0,2,Mr. Edwy Arthur West,male,36.00,1,2,27.7500
15,1,2,Mrs. (Mary D Kingcome) Hewlett,female,55.00,0,0,16.0000
118,0,3,Miss. Ellis Anna Maria Andersson,female,2.00,4,2,31.2750
365,1,3,Mrs. (Mantoura Boulos) Moussa,female,35.00,0,0,7.2292
811,0,1,Mr. Richard Fry,male,39.00,0,0,0.0000
580,0,1,Mr. John Hugo Ross,male,36.00,0,0,40.1250
386,0,3,Mr. Matthew Sadlier,male,19.00,0,0,7.7292
864,0,3,Mr. Philemon van Melkebeke,male,23.00,0,0,9.5000
...,...,...,...,...,...,...,...,...
544,1,2,Mr. Julian Padro y Manent,male,27.00,0,0,13.8625
443,1,2,Miss. Madeleine Violet Mellinger,female,13.00,0,1,19.5000
585,0,3,Mr. Eliezer Gilinski,male,22.00,0,0,8.0500
354,1,1,Miss. Elsie Edith Bowerman,female,22.00,0,1,55.0000
614,0,3,Mrs. William Arthur (Cordelia K Stanlick) Lobb,female,26.00,1,0,16.1000
110,0,3,Miss. Hileni Zabour,female,14.50,1,0,14.4542
862,1,2,Miss. Asuncion Duran y More,female,27.00,1,0,13.8583
708,0,1,Mr. Herman Klaber,male,41.00,0,0,26.5500
303,1,1,Master. Hudson Trevor Allison,male,0.92,1,2,151.5500
88,0,3,Mr. Francesco Celotti,male,24.00,0,0,8.0500
559,0,2,Mr. Robert Douglas Norman,male,28.00,0,0,13.5000
171,1,3,Miss. Eleanor Ileen Johnson,female,1.00,1,1,11.1333
344,1,2,Miss. Marion Elsie Smith,female,40.00,0,0,13.0000
166,0,3,Mrs. William (Anna Bernhardina Karlsson) Skoog,female,45.00,1,4,27.9000
528,0,3,Mr. Nakli Toufik,male,17.00,0,0,7.2292
727,0,3,Mr. Houssein G N Hassan,male,11.00,0,0,18.7875
518,0,3,Mr. Janko Vovk,male,22.00,0,0,7.8958
473,0,2,Mr. Peter Henry Renouf,male,34.00,1,0,21.0000
16,0,3,Master. Eugene Rice,male,2.00,4,1,29.1250
250,0,3,Mrs. Wilhelm (Elna Matilda Persson) Strom,female,29.00,1,1,10.4625
582,1,1,Miss. Ruth Taussig,female,18.00,0,2,79.6500
420,0,3,Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)...,female,28.00,1,1,14.4000
721,0,3,Mr. Luka Oreskovic,male,20.00,0,0,8.6625
54,1,1,Mr. Hugh Woolner,male,46.00,0,0,35.5000
465,0,3,Mr. James Scanlan,male,22.00,0,0,7.7250
611,0,3,Mr. William Alfred Brocklebank,male,35.00,0,0,8.0500
842,0,3,Mr. Douglas Bullen Sage,male,18.00,8,2,69.5500
335,1,1,Miss. Elizabeth Margaret Burns,female,41.00,0,0,134.5000
226,0,3,Mr. John Hall Lovell,male,20.50,0,0,7.2500
154,0,1,Mr. Charles Duane Williams,male,51.00,0,1,61.3792

In [10]:
titanic_train.shape

(798, 8)

In [11]:
titanic_test

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
188,0,3,Mr. Stjepan Turcin,male,36.00,0,0,7.8958
255,1,1,Mrs. Gertrude Maybelle Thorne,female,38.00,0,0,79.2000
851,1,3,Mrs. Sam (Leah Rosen) Aks,female,18.00,0,1,9.3500
431,0,1,Mr. William Baird Silvey,male,50.00,1,0,55.9000
243,0,3,Mr. Sleiman Attalah,male,30.00,0,0,7.2250
211,0,3,Mr. John Henry Perkin,male,22.00,0,0,7.2500
357,1,3,Miss. Helen Mary Mockler,female,23.00,0,0,7.8792
36,1,3,Mr. Hanna Mamee,male,18.00,0,0,7.2292
764,0,3,Mr. Daniel J Moran,male,28.00,1,0,24.1500
710,0,3,Mr. August Viktor Larsson,male,29.00,0,0,9.4833
633,0,3,Mr. Antti Gustaf Leinonen,male,32.00,0,0,7.9250
26,0,3,Mr. Farred Chehab Emir,male,26.00,0,0,7.2250
193,1,1,Mrs. James Joseph (Margaret Tobin) Brown,female,44.00,0,0,27.7208
252,0,3,Mr. William Arthur Lobb,male,30.00,1,0,16.1000
584,1,1,Mr. Maxmillian Frolicher-Stehli,male,60.00,1,1,79.2000
757,0,3,Mr. Iisakki Antino Aijo Nirva,male,41.00,0,0,7.1250
861,1,2,Mrs. (Karolina) Bystrom,female,42.00,0,0,13.0000
309,1,1,Miss. Emily Borie Ryerson,female,18.00,2,2,262.3750
99,0,3,Miss. Matilda Petranec,female,28.00,0,0,7.8958
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.00,1,0,71.2833
647,0,3,Mr. Mito Mitkoff,male,23.00,0,0,7.8958
850,0,2,Mrs. Ernest Courtenay (Lilian Hughes) Carter,female,44.00,1,0,26.0000
822,0,3,Mr. Len Lam,male,23.00,0,0,56.4958
707,1,1,Mlle. Berthe Antonine Mayne,female,24.00,0,0,49.5042
531,0,3,Miss. Marija Cacic,female,30.00,0,0,8.6625
375,0,1,Mr. Harry Elkins Widener,male,27.00,0,2,211.5000
492,0,3,Mr. Gerious Yousseff,male,26.00,0,0,14.4583
347,0,3,Mr. Jovan Dimic,male,42.00,0,0,8.6625
338,1,2,Master. Edmond Roger Navratil,male,2.00,1,1,26.0000
89,0,3,Mr. Emil Christmann,male,29.00,0,0,8.0500
...,...,...,...,...,...,...,...,...
135,1,1,Miss. Helen Monypeny Newsom,female,19.00,0,2,26.2833
798,1,1,Master. William Thornton II Carter,male,11.00,1,2,120.0000
145,1,3,Mr. August Edvard Andersson,male,27.00,0,0,7.7958
805,1,1,Mrs. Norman Campbell (Bertha Griggs) Chambers,female,33.00,1,0,53.1000
242,0,3,Mr. Matti Alexanteri Maenpaa,male,22.00,0,0,7.1250
522,0,3,Mr. James Farrell,male,40.50,0,0,7.7500
395,0,2,Mr. Peter David McKane,male,46.00,0,0,26.0000
131,0,3,Mrs. Alexander A (Grace Charity Laury) Robins,female,47.00,1,0,14.5000
689,1,3,Mr. Ali Lam,male,37.00,0,0,56.4958
709,1,1,Mr. Elmer Zebley Taylor,male,48.00,1,0,52.0000
885,1,1,Mr. Karl Howell Behr,male,26.00,0,0,30.0000
751,1,2,Master. Viljo Hamalainen,male,0.67,1,1,14.5000
818,0,1,Jonkheer. John George Reuchlin,male,38.00,0,0,0.0000
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.00,1,0,30.0708
37,0,3,Mr. Ernest Charles Cann,male,21.00,0,0,8.0500
765,0,3,Mr. Daniel Danielsen Gronnestad,male,32.00,0,0,8.3625
102,0,3,Mr. Gustaf Joel Johansson,male,33.00,0,0,8.6542
168,0,3,Mr. Lee Ling,male,28.00,0,0,56.4958
164,1,3,Master. Frank John William Goldsmith,male,9.00,0,2,20.5250
740,1,3,Mr. Juho Stranden,male,31.00,0,0,7.9250
792,1,1,Dr. Alice (Farnham) Leader,female,49.00,0,0,25.9292
31,1,1,Mrs. William Augustus (Marie Eugenie) Spencer,female,48.00,1,0,146.5208
706,1,3,Master. Halim Gonios Moubarek,male,4.00,1,1,15.2458
170,0,3,Master. Arthur Rice,male,4.00,4,1,29.1250
621,0,3,Mr. David John Bowen,male,21.00,0,0,16.1000
855,0,3,Mr. Raihed Razi,male,30.00,0,0,7.2292
260,0,1,Mr. Emil Taussig,male,52.00,1,1,79.6500
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.00,0,2,11.1333
566,1,3,Mr. Carl Jonsson,male,32.00,0,0,7.8542
311,0,3,Mr. Ignjac Hendekovic,male,28.00,0,0,7.8958

In [ ]:
titanic_test.shape

Let's now train a new algorithm. The table-lookup algorithm does the following:

1. *Look up all individuals in the training set with the same passenger class (`Pclass`), sex (`Sex`), siblings/spouses aboard (`Siblings/Spouses Aboard`) and parents/children aboard (`Parents/Children Aboard`).*
2. *Predict the most common value amongst those individuals.*

Below is the code for the algorithm.

In [12]:
def table_lookup_predictor(x, table):
    """Implements the table-lookup algorithm"""
    
    # Get most common label
    default = table.Survived.value_counts().argmax()
    # Get similar individuals
    similar_tab = table.loc[(table["Pclass"] == x["Pclass"]) &\
                            (table["Sex"] == x["Sex"]) &\
                            (table["Siblings/Spouses Aboard"] == x["Siblings/Spouses Aboard"]) &\
                            (table["Parents/Children Aboard"] == x["Parents/Children Aboard"]), "Survived"]
    if len(similar_tab) == 0:
        # If table is empty (no "similar" individuals), guess the most common label
        return default
    else:
        return similar_tab.value_counts().argmax()

In [13]:
titanic_train.iloc[0,:]

Survived                                      1
Pclass                                        1
Name                       Miss. Anne Perreault
Sex                                      female
Age                                          30
Siblings/Spouses Aboard                       0
Parents/Children Aboard                       0
Fare                                       93.5
Name: 517, dtype: object

In [14]:
# Demonstration 1
table_lookup_predictor(titanic_train.iloc[0,:], titanic_train)    # Perfect!

1

In [15]:
tlu_train_predicted = titanic_train.apply(table_lookup_predictor, 1,
                                          table=titanic_train)    # Make predictions on training set
tlu_train_predicted

517    1
66     0
821    0
200    0
153    0
238    0
227    0
732    0
823    1
746    1
221    0
489    0
607    1
94     0
800    0
209    0
479    0
759    1
777    1
747    1
491    0
20     0
447    0
15     1
118    0
365    1
811    0
580    0
386    0
864    0
      ..
544    0
443    1
585    0
354    1
614    1
110    1
862    1
708    0
303    1
88     0
559    0
171    1
344    1
166    0
528    0
727    0
518    0
473    0
16     0
250    1
582    1
420    1
721    0
54     0
465    0
611    0
842    0
335    1
226    0
154    0
Length: 798, dtype: int64

We can easily compute the error our algorithm made on the training set using the scikit-learn function `accuracy_score()`.

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
accuracy_score(y_true=titanic_train.Survived,    # True values
               y_pred=tlu_train_predicted)    # Predicted values

0.82957393483709274

The algorithm is very accurate on the training set. This is to be expected; it's just looking up values from the table! What about when it's applied to the test set?

In [18]:
tlu_test_predicted = titanic_test.apply(table_lookup_predictor, 1,
                                        table=titanic_train)    # Make predictions on test set

In [19]:
accuracy_score(y_true=titanic_test.Survived,    # True values
               y_pred=tlu_test_predicted)    # Predicted values

0.6629213483146067

The algorithm overfit slightly on the training set, though the overfitting isn't terrible.

**NOTE:** Evaluating a model on the test set should be the *very last thing you do!* If you repeatedly refer to the test set, it no longer is "unseen" data.

## Cross-Validation

Many algorithms include **hyperparameters**, which are parameters that are characteristic of the algorithm itself rather than the underlying phenomenon. We need to choose the value of these parameters and we are indifferent to their values beyond their ability to improve predictions.

Our algorithm does not account for passengers' ages when making predictions. These unfortunately are not binary variables, but we can use them to create a binary variable by fixing an age and marking all those individuals less than this age with 1, and the rest 0. The cutoff age behaves like a hyperparameter here.

We don't want to pick our cutoff to maximize predictive accuracy in the training set, though, and we don't want to choose it so that it improves accuracy in the test set either. Instead we will employ **cross-validation**. The procedure works as follows:

1. *Divide data into $k$ **folds** (approximately equal size subsets of the original dataset that together form the whole dataset).*
2. *For each fold, do the following:*
    1. *Treat the fold as the "test" data and the rest of the data as "training" data.*
    2. *For each possible value of the hyperparameter, use the "training" data to fit the model and evaluate its performance on the "test" data; track performance*
3. *Aggregate the performance of the algorithm across the different folds for each possible value of the hyperparameter*
4. *Use the hyperparameter value that overall yielded the best performance.*

Cross-validation can be used for purposes other than choosing hyperparameters. For example, it can be a good way to evaluate an algorithm's performance and thus allow you to choose between different algorithms.

Here I will consider six candidate cutoff ages: 10, 20, 30, 40, 50, 60. I will use 10 folds.

scikit-learn provides multiple functions for supporting cross-validation. The `KFold` class can split a dataset up into folds as described. `cross_val_score()` can perform the entire cross-validation procedure, and is a good choice. Here I will do the cross-validation manually using only `KFold` but in future videos we may use `cross_val_score()`.

In [20]:
from sklearn.model_selection import KFold
import numpy as np

In [21]:
kf = KFold(n_splits=10)    # Prepare for cross-validation, creating an object for managing splits

In [22]:
# Preview; note that these are NumPy arrays
for train, test in kf.split(titanic_train):
    print("Training Indices:")
    print(train)
    print("\nTest Indices")
    print(test)
    print("\n----\n")

Training Indices:
[ 80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97
  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115
 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133
 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151
 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169
 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187
 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223
 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241
 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259
 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277
 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295
 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313
 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331
 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349
 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74
 75 76 77 78 79]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79 160 161 162 163 164 165 166 167 168 169
 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187
 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223
 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241
 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259
 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277
 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295
 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313
 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331
 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349
 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[ 80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97
  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115
 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133
 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151
 152 153 154 155 156 157 158 159]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 240 241
 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259
 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277
 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295
 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313
 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331
 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349
 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177
 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195
 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213
 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231
 232 233 234 235 236 237 238 239]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 320 321 322 323 324 325 326 327 328 329 330 331
 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349
 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257
 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275
 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293
 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311
 312 313 314 315 316 317 318 319]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337
 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355
 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373
 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391
 392 393 394 395 396 397 398 399]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417
 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435
 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453
 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471
 472 473 474 475 476 477 478 479]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89

In [29]:
def table_lookup_predictor_2(x, table, age):
    """Implements the table-lookup algorithm with ages after cufoff"""
    
    # Get most common label
    default = table.Survived.value_counts().argmax()
    # Get similar individuals
    similar_tab = table.loc[(table["Pclass"] == x["Pclass"]) &\
                            (table["Sex"] == x["Sex"]) &\
                            (table["Siblings/Spouses Aboard"] == x["Siblings/Spouses Aboard"]) &\
                            (table["Parents/Children Aboard"] == x["Parents/Children Aboard"]) &\
                            ((table["Age"] < age) == (x["Age"] < age)) , "Survived"]
    if len(similar_tab) == 0:
        # If table is empty (no "similar" individuals), guess the most common label
        return default
    else:
        return similar_tab.value_counts().argmax()

In [30]:
ages = [10, 20, 30, 40, 50, 60]
performance = dict()

for age in ages:
    cv_perf = list()
    for train, test in kf.split(titanic_train):
        # Get predicted values in "test" data using "train" data
        predicted = titanic_train.iloc[test,:].apply(table_lookup_predictor_2, 1, table=titanic_train.iloc[train,:],
                                                    age=age)
        actual = titanic_train.loc[:,"Survived"].iloc[test]
        # Add performance to a list
        cv_perf.append(accuracy_score(y_true=actual, y_pred=predicted))
    performance[age] = cv_perf

In [31]:
DataFrame(performance)

         10        20        30        40        50        60
0  0.762500  0.725000  0.750000  0.775000  0.762500  0.762500
1  0.787500  0.787500  0.762500  0.787500  0.787500  0.787500
2  0.787500  0.787500  0.787500  0.812500  0.787500  0.787500
3  0.800000  0.787500  0.762500  0.750000  0.737500  0.712500
4  0.775000  0.750000  0.737500  0.775000  0.750000  0.762500
5  0.812500  0.800000  0.775000  0.775000  0.787500  0.750000
6  0.825000  0.837500  0.812500  0.850000  0.825000  0.837500
7  0.837500  0.787500  0.775000  0.750000  0.800000  0.787500
8  0.860759  0.848101  0.848101  0.860759  0.822785  0.822785
9  0.797468  0.797468  0.810127  0.810127  0.797468  0.810127

In [28]:
DataFrame(performance).mean()

10    0.804573
20    0.790807
30    0.782073
40    0.794589
50    0.785775
60    0.782041
dtype: float64

It appears we attain optimal performance by choosing our cutoff age to be 10 years.